.listContainer {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    gap: 15px;
    .skeleton {
        flex-grow: 1;
        width: 100%;
        height: 10vh !important;
    }
}
.empty{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 30%;
        height: 30%;
        
    }
    h3{
        font-family: sans-serif;
        color: rgb(121, 121, 121);
    }
}
@media only screen and (max-width: 600px) {
    .listContainer {
        width: 90%;

        .skeleton {
            flex-grow: 1;
            width: 100%;
            height: 10vh !important;
        }
    }
    .empty{
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            width: 60%;
            height: 30%;
            
        }
        
    }
}

@media (min-width:600px) and (max-width: 1200px){
    .listContainer {
        width: 90%;
        max-width: 650px;

        .skeleton {
            flex-grow: 1;
            width: 100%;
            max-width: 650px;
            height: 10vh !important;
        }
    }
}