.navber{
    position: sticky !important;
    top: 0px;
    z-index: 50;
}
.login{
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width:700px) {
    .userDisplay{
        display: none;
    }
}